/* font-family: "Montserrat", Sans-serif; */
/* Og Css */
* {
  margin: 0;
  padding: 0;
}
:root {
  --text-color: black;
  --theme-color: white;
  --theme-secondary-color: rgb(51, 51, 51);
  --font-family: "Montserrat", Sans-serif;
}
body {
  font-family: var(--font-family);
  overflow-x: hidden;
}
/* Navbar */
* {
  margin: 0;
  padding: 0;
}
#navBar {
  padding: 3% 3vw;
  height: 3vw;
  display: flex;
  justify-content: left;
  align-items: center;
  position: fixed;
  z-index: 29;
  background-color: var(--theme-color);
  width: 100vw;
  box-shadow: 1px 1px 8px black;
}
#linkContainer ul li {
  display: inline;
}
#linkContainer ul {
  list-style: none;
}
#linkContainer ul li a {
  color: black;
  text-decoration: none;
}
#hamSection {
  display: none;
}
.Hide {
  display: none;
}
.Show {
  display: block;
}
#navLogo {
  width: 15vw;
  height: 10vh;
  object-fit: cover;
  display: inline-block;
}
#midSection li {
  display: inline;
  padding: 0 2vw;
}
#midSection a {
  text-decoration: none;
  color: black;
}
#midSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8vw;
}
#leftSection {
  display: flex;
  justify-content: center;
  align-items: center;
}
#rightSide {
  float: right;
  position: fixed;
  top: 8%;
  left: 85%;
}
#bedCard {
  margin-top: 2vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
#firstBCard {
  height: 65vh;
  width: 29vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../Assets/img/cardImgs/bed.webp);
}
#secondBCard {
  height: 65vh;
  width: 29vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../Assets/img/cardImgs/bed2.jpg);
}
#thirdBCard {
  height: 65vh;
  width: 29vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../Assets/img/cardImgs/bed3.webp);
}
#firstBCard:hover {
  transform: scale(1.02);
  box-shadow: 0px 4px 8px black;
  transition: all 0.2s ease-in-out;
}
#secondBCard:hover {
  transform: scale(1.02);
  box-shadow: 0px 4px 8px black;
  transition: all 0.2s ease-in-out;
}
#thirdBCard:hover {
  transform: scale(1.02);
  box-shadow: 0px 4px 8px black;
  transition: all 0.2s ease-in-out;
}
#potCards {
  margin-top: 10vh;
}
#potCards h1 {
  text-align: center;
  margin-bottom: 8vh;
}
#potContainer {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
}
.pCards {
  height: 90vh;
}
.pCards img {
  object-fit: fill;
}
.pCardInfo {
  visibility: hidden;
  position: relative;
  color: white;
  font-weight: 100 important;
  bottom: 10%;
}
.pCards:hover .pCardInfo {
  transition: 1s ease;
  visibility: visible;
}
.pCards:hover img {
  transition: 0.5s ease;
  transform: scale(1.05);
  box-shadow: 0px 4px 8px black;
}
#sCardHeading {
  text-align: center;
}
.sCard {
  display: inline-block;
  padding: 1vw;
}
#sCards {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: proximity;
  white-space: inherit;
}
.sCard img {
  display: inline;
  width: 300px;
  height: 315px;
  overflow: scroll;
}
.sCardInfo {
  transition: all 0.1s ease-in;
  visibility: hidden;
  position: relative;
  bottom: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2vw;
  color: white;
  background-color: HSL(0, 0%, 30.6%);
}
.sCard:hover .sCardInfo {
  visibility: visible;
}
.awardText {
  text-align: center;
}
#awardSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}
.Our1 {
  height: 20vw;
  width: 10vw;
}
.Our1 img {
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
#formHeading {
  text-align: center;
}
#form {
  margin: 0 1vw;
  display: flex;
  justify-content: center;
}
#leftForm {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.formItem {
  width: 50%;
  height: 5vw;
  padding-left: 1vw;
}
#textarea {
  width: 50%;
  padding-top: 1vw;
  padding-left: 1vw;
  height: 15vw;
}
#sendBtn {
  color: white;
  background-color: black;
  border: none;
  width: 20%;
  padding: 1vw;
}
#rightForm {
  width: 50%;
}
footer {
  height: 25vw;
  background-color: #f5f5f5;
  font-weight: lighter, important;
}
footer li {
  list-style: none;
}
#uprPart {
  padding-top: 3vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#leftFooter {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  width: 50vw;
}
#svgSection {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  flex-direction: row;
}
#svgSection svg {
  margin: 0 0.3vw;
}
#lowPart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
#copyLine {
  font-size: xx-small;
}
/* Responsive Media Queries */
@media (max-width: 915px) {
  /* NavBar Area */
  #midSection {
    display: none;
  }
  #linkContainer {
    display: none;
  }
  #hamSection {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 5%;
  }
  .hamLinkContainer {
    display: inline-block;
    margin: 2vw;
  }
  .hamLinkContainer li {
    list-style: none;
  }
  .hamLinkContainer a {
    text-decoration: none;
    color: black;
  }
  .halfContainer {
    transition: all 0.3s ease;
    display: inline-flex;
    justify-content: left;
  }
  .halfContainerTransition {
    margin-left: -3%;
    margin-top: 95%;
    padding: 100vh 0vw;
    height: 50vh;
    float: left;
    background-color: var(--theme-color);
    transition: all 0.3s ease;
  }
  .halfContainerTransition a {
    color: black;
  }
  #closeBtn {
    margin-top: -4.5vw;
    margin-left: 16vw;
  }
  #navLogo {
    width: 70vw;
  }
  #rightSide {
    top: 1%;
    left: 35%;
  }
  #awardSection {
    font-size: 0.5rem;
  }
  #consultForm {
    margin-top: 10vw;
  }
  footer {
    font-size: 0.3rem;
    min-height: 30vw;
    min-width: 105vw;
  }
  footer img {
    max-width: 30vw;
  }
  #bedCard {
    flex-direction: column;
  }
  #firstBCard,
  #secondBCard,
  #thirdBCard {
    width: 90%;
    height: 90vw;
    background-size: contain;
    margin: 1vw 0vw;
  }
}
